<div class="header">
  <mat-toolbar>
    <button mat-icon-button class="example-icon">
      <mat-icon>fitbit</mat-icon>
    </button>
    <span>GYM-PORTAL</span>
    <span class="spacer"></span>
    <div class="menu-items">
      <button mat-raised-button routerLink="/addTraining" routerLinkActive="active">Add Training</button>&nbsp;&nbsp;&nbsp;
      <button mat-raised-button routerLink="/myTrainings" routerLinkActive="active">My Trainings</button>&nbsp;&nbsp;&nbsp;
      <button mat-raised-button routerLink="/" routerLinkActive="active">Sign Out</button>
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>

