.container{
  display: flex;
  flex-direction: column;
}
.header {
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 5px;
}

.header h3 {
  margin: 0;
  font-size: 20px;
}
.menu-items button{
  background-color: white;
  color: black;
}
.spacer{
  flex: 1 1 auto;
}
mat-toolbar{
  background-color: #7db9b5;
  color: black;
}

.button-container {
  text-align: center;
  margin: 20px 0;
}

.button-container button {
  background-color: #7db9b5;
  color:black;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.button-container button:hover {
  background: #7db9b5;
  color: black;
}
