<app-homepage></app-homepage>
<div class="container">
  <div class="register-card">
    <div class="trainer-card">
      <div class="content">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Register as Trainee</mat-card-title>
              <mat-card-subtitle>Start your fitness journey by becoming a trainee and connecting with professional trainers.</mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button class="join-button" routerLink="/trainee-signup">Get Started</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="student-card">
      <div class="content">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Register as Trainer</mat-card-title>
              <mat-card-subtitle>Join our platform as a professional trainer and share your expertise with the community.</mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button class="join-button" routerLink="/trainer-signup">Get Started</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
