.menu-items button{
  background-color: white;
  color: black;
}
.spacer{
  flex: 1 1 auto;
}
mat-toolbar{
  background-color: #7db9b5;
  color: black;
}
.container{
  display: flex;
  flex-direction: column;
}
.search-feilds button{
  background-color: #7db9b5;
  color: black;

}
.search-feilds{
  margin-top: 20px;
  margin-left: 220px;
}
