.container {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  }
  
  .header1 {
    background-color: #7db9b5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .header1 .example-icon {
    margin-left: 10px;
  }

  .custom-toolbar {
    background-color: #7db9b5;
    color: #060606;
  }
  
  .menu-items button {
    background-color: #FBFAFA;
    color: #060606;
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .header h1 {
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
    margin: 0; /* Remove the default margin */
  }
  
  .header h3 {
    font-weight: lighter;
    color: grey;
    margin: 0; /* Remove the default margin */
  }
  
  .center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .registration-form {
    margin-top: 20px;
    width: 100%; /* Adjust the width as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .registration-form mat-form-field {
    width: 100%;
    height: 70px;
    color: blueviolet;
    text-align: center;
  }
  
  .registration-form mat-icon {
    color: #a5d8ee;
  }
  
  /* Optional: Style the button */
  .registration-form button {
    background-color: #7db9b5;
    color: black;
    margin-top: 20px;
    width: 100%;
  }
  
  /* Decrease the font size inside mat-form-field */
  mat-form-field {
    font-size: 14px;
    height: 60px;
  }
  
  /* Decrease the font size of the hint text inside mat-form-field */
  mat-form-field .mat-hint {
    font-size: 18px
  }
  
  mat-slide-toggle {
    color: #7db9b5;
  }
  