.container {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.custom-toolbar {
  background-color: #7db9b5;
  color: #060606;
}

.menu-items button {
  background-color: white;
  color: #060606;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: #7db9b5;
  color: #060606;
}

.profile-card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}

.profile-card h1 {
  font-weight: bold;
  color: #060606;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.profile-pair {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile-key {
  font-weight: bold;
  color: grey;
  width: 150px;
  font-size: 16px;
}

.profile-value {
  color: #060606;
  font-size: 16px;
  flex: 1;
}

.profile-actions {
  margin-top: 20px;
  text-align: center;
}

.profile-actions button {
  background-color: #7db9b5;
  color: #060606;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.card-header h2 {
  font-weight: bold;
  color: #060606;
}

.my-trainers {
  margin-top: 20px;
}

.my-trainers-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-trainings p {
  margin-bottom: 50px;
}

.custom-header-cell {
  padding: 10px;
}

.custom-cell {
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-trainers-header h2 {
  margin-right: 45px;
}

.trainers-table {
  width: 150%; /* Increase the width as needed */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  
}

h1,
h4,
h2 {
  font-weight: bold;
  color: #060606;
}