<div class="container">
  <div class="header">
    <mat-toolbar class="custom-toolbar" routerLink="/" routerLinkActive="active">
      <button mat-icon-button class="example-icon">
        <mat-icon>fitbit</mat-icon>
      </button>
      <span>GYM-PORTAL</span>
      <span class="spacer"></span>
      <div class="menu-items">
        <button mat-raised-button (click)="addTraining()" routerLinkActive="active">Add Training</button>&nbsp;&nbsp;&nbsp;
        <button mat-raised-button (click)="viewTrainings()" routerLinkActive="active">View Trainings</button>&nbsp;&nbsp;&nbsp;
        <button mat-raised-button routerLink="" routerLinkActive="active">Sign Out</button>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>

    <div class="trainer-profile">
      <h1>Trainer Details</h1>
      <div class="profile-info">
        <div class="profile-pair">
          <span class="profile-key">First Name:</span>
          <span class="profile-value">{{ trainerProfile.firstName }}</span>
        </div>
        <div class="profile-pair">
          <span class="profile-key">Last Name:</span>
          <span class="profile-value">{{ trainerProfile.lastName }}</span>
        </div>
        <div class="profile-pair">
          <span class="profile-key">User Name:</span>
          <span class="profile-value">{{ trainerProfile.userName }}</span>
        </div>
        <div class="profile-pair">
          <span class="profile-key">Specialization:</span>
          <span class="profile-value">{{ trainerProfile.specialization }}</span>
        </div>
        <div class="profile-pair">
          <span class="profile-key">Email:</span>
          <span class="profile-value">{{ trainerProfile.email }}</span>
        </div>
      </div>
      <div class="profile-actions">
        <button mat-raised-button class="custom-button" (click)="updateTrainer()">Edit profile</button>&nbsp;&nbsp;
        <button mat-raised-button class="custom-button" (click)="updatePassword()">Change Password</button>
      </div>
    </div>

    <div class="my-trainers">
      <div class="my-trainers-header">
        <h2>My Trainees</h2>
      </div>
      <div class="trainers-table">
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- Index Column -->
          <ng-container matColumnDef="index">
            <mat-header-cell *matHeaderCellDef class="custom-header-cell">S.No</mat-header-cell>
            <mat-cell *matCellDef="let i = index" class="custom-cell"> {{ i + 1 }} </mat-cell>
          </ng-container>

          <!-- Username Column -->
          <ng-container matColumnDef="username">
            <mat-header-cell *matHeaderCellDef class="custom-header-cell"> Username </mat-header-cell>
            <mat-cell *matCellDef="let element" class="custom-cell"> {{ element.username }} </mat-cell>
          </ng-container>

          <!-- Firstname Column -->
          <ng-container matColumnDef="firstname">
            <mat-header-cell *matHeaderCellDef class="custom-header-cell"> Firstname </mat-header-cell>
            <mat-cell *matCellDef="let element" class="custom-cell"> {{ element.firstname }} </mat-cell>
          </ng-container>

          <!-- Lastname Column -->
          <ng-container matColumnDef="lastname">
            <mat-header-cell *matHeaderCellDef class="custom-header-cell"> Lastname </mat-header-cell>
            <mat-cell *matCellDef="let element" class="custom-cell"> {{ element.lastname }} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="['index', 'username', 'firstname', 'lastname']"></mat-header-row>
          <mat-row *matRowDef="let row; columns: ['index', 'username', 'firstname', 'lastname']"></mat-row>
        </mat-table>
      </div>
    </div>
  </div>
