.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 60px; /* Adjust as needed */
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #d6e9f1;
  color: black;
}

.header1 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 50px;
}

h1 {
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}

h3 {
  font-weight: lighter;
  color: grey;
  margin: 0;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  margin-top: 10px;
}

.add-training {
  width: 100%;
  max-width: 400px;
  text-align: left;
}

.add-training mat-form-field {
  width: 100%;
}

.add-training mat-icon {
  color: #a5d8ee;
}

.add-training button {
  background-color: #d6e9f1;
  color: black;
  flex-grow: 1;
  width: 100%;
}

mat-form-field {
  font-size: 14px;
  height: 60px;
}

mat-form-field .mat-hint {
  font-size: 18px;
}
