.success-title {
    font-size: 24px;
    font-weight: bold;
    color: #7db9b5;/* Aqua color */
    margin-bottom: 10px;
}

.info-label {
    font-weight: bold;
    color: #8453D2; /* Iris color */
    margin-right: 5px;
}

.dialog-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.close-button {
    background-color: #00FFF0; /* Mint color */
    color: white;
}
