<div class="container">
  <div class="header1">
    <mat-toolbar>
      <button mat-icon-button class="example-icon">
        <mat-icon>fitness_center</mat-icon>
      </button>
      <span>GYM-PORTAL</span>
      <span class="spacer"></span>
      <button mat-icon-button class="example-icon">
        <mat-icon>account_circle</mat-icon>
      </button>
      <span>{{userNameFromState}}</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
  <div class="content">
    <div class="header">
      <h3>Change Password</h3>
    </div>
    <div class="login-form">
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-icon matPrefix class="my-icon">password</mat-icon>
          <mat-label>Old Password</mat-label>
          <input matInput [type]="hideOldPassword ? 'password' : 'text'" placeholder="Password" matInput type="password"
                 name="oldPassword" formControlName="oldPassword">
          <button mat-icon-button matSuffix (click)="toggleOldPasswordVisibility($event)">
            <mat-icon>{{ hideOldPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <div *ngIf="oldPassword.touched && oldPassword.invalid">
            <div *ngIf="oldPassword.errors?.required "> Password is required...</div>
          </div>
        </mat-form-field>

        <mat-form-field>
          <mat-icon matPrefix class="my-icon">password</mat-icon>
          <mat-label>New Password</mat-label>
          <input matInput type="password" name="newPassword" formControlName="newPassword">
          <div *ngIf="newPassword.touched && newPassword.invalid">
            <div *ngIf="newPassword.errors?.required "> Password is required...</div>
          </div>
        </mat-form-field>

        <mat-form-field>
          <mat-icon matPrefix class="my-icon">password</mat-icon>
          <mat-label>Confirm Password</mat-label>
          <input [type]="hideNewPassword ? 'password' : 'text'" placeholder="Password" matInput type="password"
                 name="confirmPassword" formControlName="confirmPassword">
          <button mat-icon-button matSuffix (click)="toggleNewPasswordVisibility($event)">
            <mat-icon>{{ hideNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <div *ngIf="confirmPassword.touched && confirmPassword.invalid">
            <div *ngIf="confirmPassword.errors?.required "> Password is required...</div>
            <div *ngIf="confirmPassword.value != newPassword.value "> Passwords must match</div>
          </div>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled] = "confirmPassword.value !== newPassword.value">Update</button>
      </form>
    </div>
  </div>
</div>
