<app-homepage></app-homepage>
<div class="container">
  <div class="header">
    <h1>Trainer Registration</h1>
  </div>
  <div class="body">
    <div class="registration-form">
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-icon matPrefix class="my-icon">perm_identity</mat-icon>
          <mat-label>Enter Firstname</mat-label>
          <input matInput formControlName="firstName" id="firstname" name="firstname">
        </mat-form-field>
        <mat-form-field>
          <mat-icon matPrefix class="my-icon">perm_identity</mat-icon>
          <mat-label>Enter Lastname</mat-label>
          <input matInput formControlName="lastName" id="lastName" name="lastName">
        </mat-form-field>
        <mat-form-field>
          <mat-icon matPrefix class="my-icon">fitness_center</mat-icon>
          <mat-label>please select specialization</mat-label>
          <mat-select formControlName="specialization" id="specialization" name="specialization">
            <mat-option *ngFor="let specialization of specializations" [value]="specialization.value">
              {{specialization.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-icon matPrefix class="my-icon">email</mat-icon>
          <mat-label>Enter Email</mat-label>
          <input matInput formControlName="email" id="email" name="email">
        </mat-form-field>
        <button mat-raised-button type="submit" [disabled]="!registrationForm.valid">Submit</button>
      </form>
    </div>
  </div>
</div>
