<app-homepage></app-homepage>
<div class="container">
  <div class="content">
    <div class="inside-content">
      <div class="header1">
        <h3>Log In</h3>
      </div>
      <div class="login-form">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field>
            <mat-icon matPrefix class="my-icon">account_circle</mat-icon>
            <mat-label>Enter Username</mat-label>
            <input matInput type="text" name="username" formControlName="username">
          </mat-form-field>
          
          <mat-form-field>
            <mat-icon matPrefix class="my-icon">vpn_key</mat-icon>
            <mat-label>Enter Password</mat-label>
            <input matInput type="password" name="password" formControlName="password">
          </mat-form-field>
          
          <mat-radio-group aria-label="Type of User" [(ngModel)]="selectedUserType" [ngModelOptions]="{standalone: true}">
            <mat-radio-button value="trainee" color="accent">Trainee</mat-radio-button>
            <mat-radio-button value="trainer" color="accent">Trainer</mat-radio-button>
          </mat-radio-group>
          
          <button mat-raised-button color="night" type="submit" [disabled]="loginForm.invalid">Sign In</button>
        </form>
      </div>
    </div>
  </div>
</div>


