<mat-toolbar class="custom-toolbar">
  <div class="left-section">
    <span>&#169; 2023 Gym Application </span>
  </div>
  <div class="center-section">
    <button mat-button>About Us</button>
    <button mat-button>Contact Us</button>
    <button mat-button>Privacy</button>
  </div>
  <div class="right-section">
    <img src="assets/icons/facebook.svg" alt="Facebook" />
    <img src="assets/icons/twitter.svg" alt="Twitter" />
    <img src="assets/icons/instagram.svg" alt="Instagram" />
  </div>
</mat-toolbar>

