<div class="container">
  <div class="header">
    <mat-toolbar class="custom-toolbar" routerLink="/" routerLinkActive="active">
      <button mat-icon-button class="example-icon">
        <mat-icon>fitbit</mat-icon>
      </button>
      <span>GYM-PORTAL</span>
      <span class="spacer"></span>
      <div class="menu-items">
        <button mat-raised-button (click)="viewTraining()" routerLinkActive="active">My Trainings</button>&nbsp;&nbsp;&nbsp;
        <button mat-raised-button routerLink="" routerLinkActive="active">Sign Out</button>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>

  <div class="student-details">
    <h1>Trainee Details</h1>
    <div class="profile-info">
      <div class="profile-pair">
        <span class="profile-key">First Name:</span>
        <span class="profile-value">{{ traineeProfile.firstName }}</span>
      </div>
      <div class="profile-pair">
        <span class="profile-key">Last Name:</span>
        <span class="profile-value">{{ traineeProfile.lastName }}</span>
      </div>
      <div class="profile-pair">
        <span class="profile-key">User Name:</span>
        <span class="profile-value">{{ traineeProfile.userName }}</span>
      </div>
      <div class="profile-pair">
        <span class="profile-key">Date of Birth:</span>
        <span class="profile-value">{{ traineeProfile.dateOfBirth | date }}</span>
      </div>
      <div class="profile-pair">
        <span class="profile-key">Address:</span>
        <span class="profile-value">{{ traineeProfile.address }}</span>
      </div>
      <div class="profile-pair">
        <span class="profile-key">Email:</span>
        <span class="profile-value">{{ traineeProfile.email }}</span>
      </div>
    </div>
    <div class="profile-actions">
      <button mat-raised-button class="custom-button" (click)="updateTrainee()">Edit profile</button> &nbsp;&nbsp;
      <button mat-raised-button class="custom-button" (click)="updatePassword()">Change Password</button>
    </div>
  </div>
  

  <div class="my-trainees">
    <div class="card-header">
      <h2>My Trainers</h2>
    </div>
    <div class="trainers-table">
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="specialization">
          <mat-header-cell *matHeaderCellDef> Specialization</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.specialization}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
    <div class="profile-actions">
      <button mat-raised-button class="custom-button" (click)="editTrainers()">Add Trainer</button>
    </div>
  </div>
</div>
